.add-mission {
  margin: auto !important;
  display: flex !important;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60% !important;
  height: 60% !important;
}

text {
  color: white;
  fill: white;
}
