.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.listElement {
  background-color: rgb(77, 77, 77);
  margin: 5px;
}

.implant.active {
  background-color: rgb(36, 138, 41);
}

.implant.inactive {
  background-color: rgb(138, 36, 36);
}

.text-input {
  margin: 10px 0 !important;
}

.select-list {
  margin: 10px 0 !important;
}

.form-dialog>.MuiDialog-container>.MuiPaper-root {
  padding: 0 10px 10px 10px;
}

.MuiGrid-item>h4 {
  margin: 0;
}

.alert-message {
  z-index: 999999;
}