.login {
  margin-top: 30px;
  text-align: center;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.login > form {
  display: inline-block;
  align-self: center;
}

.MuiTextField-root {
  min-width: 40vw !important;
}
